@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid rebeccapurple; */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
  line-height: 1.5;
}

/* Header styles */

.header {
  max-width: 580px;
  margin: 6rem auto 4rem;
}

/* Card styles */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  padding: 1.875rem;
  max-width: 350px;
  margin: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 500ms ease;
}

/* Utilities */

.display-block {
  display: block;
}

.float-right {
  float: right;
}

.font-thin {
  font-weight: 200;
}

.font-semibold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-base {
  font-size: 1rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-dark-blue {
  color: hsl(234, 12%, 34%);
}

.text-gray-blue {
  color: hsl(229, 6%, 66%);
}

.text-cyan {
  color: hsl(180, 62%, 55%);
}

.border-top {
  border-top: 5px solid;
}

.border-cyan {
  border-color: hsl(180, 62%, 55%);
}

.border-red {
  border-color: hsl(0, 78%, 62%);
}

.border-orange {
  border-color: hsl(34, 97%, 64%);
}

.border-blue {
  border-color: hsl(212, 86%, 64%);
}

.px-4 {
  padding: 0 1rem;
}

.px-8 {
  padding: 0 2rem;
}

.my-4 {
  margin: 1rem 0;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .md-text-3xl {
    font-size: 1.875rem;
  }
}

@media (min-width: 1200px) {
  .lg-text-4xl {
    font-size: 2.25rem;
  }

  .lg-order-4 {
    order: 4;
  }

  .lg-down {
    transform: translateY(50%);
  }
}
